Repository dahal/tanstack-zod-openapi: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,ts,tsx,json,md}"
      run: bun run format
      stage_fixed: true

    lint:
      glob: "*.{js,ts,tsx}"
      run: bun run lint:fix
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

    test:
      glob: "*.{js,ts,tsx}"
      run: bun test

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-push:
  commands:
    build:
      run: bun run build
      
    test-coverage:
      run: bun run test:coverage

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  e6ee8269eb112025b4baf94be2b605bc99d0cecd
Due: none

fix: replace dynamic requires with proper ES6 imports in generateOpenAPISpec
  README.md
  example/bun.lock
  src/index.ts
Due: format, lint, typecheck, test

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  145a0101007592516ac98bab0c726c8fd514ea06
Due: none

feat: add custom output path support to OpenAPI generation script
  README.md
  example/scripts/generate-openapi.ts
Due: format, lint, typecheck, test

fix: remove unused @tanstack/router peer dependency
  bun.lock
  package.json
  vite.config.ts
Due: format, lint, typecheck, test

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  94f6aab58ff725d62b7f1869c1caa3bb7ec6212e
Due: none

feat: add support for ZodEffects schema conversion (refine/transform)
  src/__tests__/zod-to-openapi.test.ts
  src/types/zod-internal.ts
  src/utils/zod-to-openapi.ts
Due: format, lint, typecheck, test

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  abc74f2e527198443b6f11405d1d7d4d1ec1c892
Due: none

fix: resolve type inference issue for params, query, and headers
  src/types/index.ts
  src/utils/openapi-generator.ts
  test-route.ts
Due: format, lint, typecheck, test

feat: improve TypeScript type safety for route handlers
  src/core/route.ts
  src/types/index.ts
  src/types/zod-internal.ts
  src/utils/zod-to-openapi.ts
  test-route.ts
Due: format, lint, typecheck, test

test: add comprehensive type safety tests
  src/__tests__/type-safety.test.ts
Due: format, lint, typecheck, test

feat: add pkg.pr.new integration for PR testing
  .github/workflows/pkg-pr-new.yml
  README.md
  package.json
Due: format

chore: add pkg.pr.new integration for PR testing
  .github/workflows/new-pr-package.yml
  README.md
  package.json
Due: format

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  4bdd1f25714e69092a68b4bbbb18d0f304b2d6d8
Due: none
